<div class="container">
    <div class="jumbotron">
        Project Samples <br><br>
        1. Asset tracking system : A web based asset tracking system which includes tracking of an asset at particular location by enabling GPS tracker locator.<br><br>
        <img src="/assets/asset.PNG" width="250" height="300">
         <br><br>
        2. Android app: A mobile android application used to find the location of colleges near by area.<br><br>
        <img src="/assets/collegeimg.1.PNG" width="250" height="300">
        <br><br>
        3. Data Mining: A mining warehouse used for market basket analysis. <br><br>
        <img src="/assets/mining.PNG" width="250" height="300">
        <br><br>
    </div>
  </div>
